body {
    margin: 0px !important;
    height: 100vh !important;
}

.login {
    background: url('../../asset/login_img.jpeg');
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    align-items: center;
    height: 100vh;
}

.modal_box {
    width: 40%;
    height: 60vh;
    box-shadow: 1px 0px 30px black;
    background-color: rgba(255, 255, 255, 0.351);
    display: flex;
    border-radius: 30px;
    padding: 0px;
}

.modal_img {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.signin,
.signup {
    color: #004f8740;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    padding-top: 10px;
    width: 50%;
    text-align: center;
    height: 50px;
}

.signin:hover,
.signup:hover {
    color: #004f87;
}