.app{
    background-color: rgba(220, 220, 220, 0.784)
}

/* input{
    font-family: sans-serif !important;
    box-shadow: 1px 1px 5px gray;
    font-size: 16px;
} */
body{
    font-family: sans-serif !important;
}
